* {
  outline: 2px solid red;
  font-family: "Roboto", "Times New Roman", sans-serif;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

header {
  background: #1f2937;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.leftlplogo {
  max-width: 175px;
  flex: 1;
}

.linksright {
  display: flex;
  padding: 18px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.footer {
  background: #1f2937;
  color: #e5e7eb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
